n8n-workflow-saidas-final.json
{
  "name": "Passivo Saídas 2026 (Blindado)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comprovantes-2026",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e83a0a38-5100-41ab-8c9f-33157528eecb",
      "name": "Webhook (Entrada WPP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "comprovantes-2026-trigger"
    },
    {
      "parameters": {
        "operation": "analyzeImage",
        "model": "gemini-1.5-flash",
        "prompt": "Extraia as informações deste comprovante bancário seguindo a estrutura UnifiedTransaction:\n- date (formato DD/MM/YYYY)\n- description\n- amount (numérico com duas casas, ponto decimal)\n- type (obrigatório: 'saida')\n- category\n- account (obrigatório: 'Cartão Sicoob' ou 'Pix')\n- status (obrigatório: 'pending')\nResponda APENAS um JSON válido contendo essas chaves. Não inclua blocos markdown.",
        "imageInputType": "binary",
        "binaryPropertyName": "comprovante"
      },
      "id": "848d56b0-13f5-4f40-b6c8-f9b5c3b9b4af",
      "name": "Google Gemini",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let data = $input.item.json.text || $input.item.json;\n  if (typeof data === 'string' && data.startsWith('```json')) {\n    data = data.replace(/```json/g, '').replace(/```/g, '');\n  }\n  const parsed = typeof data === 'string' ? JSON.parse(data) : data;\n  parsed.status = 'pending';\n  parsed.type = 'saida';\n  return parsed;\n} catch(e) {\n  return { date: '', description: 'Erro de Leitura OCR', amount: 0, type: 'saida', account: '', status: 'pending' };\n}"
      },
      "id": "c138b002-ff7b-402a-a9e9-d7b425b0337c",
      "name": "Parser JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://svhvgvymmhoktvnmwggm.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2aHZndnltbWhva3R2bm13Z2dtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU0NzQyOCwiZXhwIjoyMDk0MTIzNDI4fQ.Nn6DedVCbIZOxQeqlM84h4Sy2frQ2Ooyk53KRN16bMU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2aHZndnltbWhva3R2bm13Z2dtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU0NzQyOCwiZXhwIjoyMDk0MTIzNDI4fQ.Nn6DedVCbIZOxQeqlM84h4Sy2frQ2Ooyk53KRN16bMU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.date }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.amount }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "account",
              "value": "={{ $json.account }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f5f40c7-25e2-432d-9c48-2621ecf42ccb",
      "name": "Supabase via HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Entrada WPP)": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Parser JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "main": [
        [
          {
            "node": "Supabase via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "final-blindado-gemini"
}
