n8n-workflow-saidas.json
{
  "name": "Passivo Saídas 2026",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comprovantes-2026",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e83a0a38-5100-41ab-8c9f-33157528eecb",
      "name": "Webhook (Entrada WPP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "comprovantes-2026-trigger"
    },
    {
      "parameters": {
        "model": "models/gemini-1.5-pro-latest",
        "prompt": "Extraia as informações deste comprovante bancário (Cartão Sicoob/Pix) seguindo a estrutura UnifiedTransaction:\\n- date (formato DD/MM/YYYY)\\n- description\\n- amount (numérico com duas casas, ponto decimal)\\n- type (obrigatório: 'saida')\\n- category\\n- account (obrigatório: 'Cartão Sicoob' ou 'Pix')\\n- status (obrigatório: 'pending')\\nResponda APENAS um JSON válido contendo essas chaves. Não inclua blocos markdown (```json).",
        "options": {}
      },
      "id": "848d56b0-13f5-4f40-b6c8-f9b5c3b9b4af",
      "name": "Google Gemini",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let data = $input.item.json.text || $input.item.json.output || $input.item.json.content;\n  if (typeof data === 'string' && data.startsWith('```json')) {\n    data = data.replace(/```json/g, '').replace(/```/g, '');\n  }\n  const parsed = typeof data === 'string' ? JSON.parse(data) : data;\n  // Forçar status e tipo para garantir as regras de negócio\n  parsed.status = 'pending';\n  parsed.type = 'saida';\n  return parsed;\n} catch(e) {\n  return { date: '', description: 'Erro de Leitura OCR', amount: 0, type: 'saida', account: '', status: 'pending' };\n}"
      },
      "id": "c138b002-ff7b-402a-a9e9-d7b425b0337c",
      "name": "Parser / Tratamento JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "transactions",
        "columns": "date, description, amount, type, category, account, status"
      },
      "id": "5f5f40c7-25e2-432d-9c48-2621ecf42ccb",
      "name": "Supabase (Mesa de Cirurgia)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Entrada WPP)": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Parser / Tratamento JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser / Tratamento JSON": {
      "main": [
        [
          {
            "node": "Supabase (Mesa de Cirurgia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df10b9be-9f93-4a16-9dc4-17387cc0cd18"
}
